// Override / set color variables
$green: rgb(94,198,161);
$blue: rgb(80,153,188);
$yellow: rgb(236,206,108);
$red: rgba(242,116,115);
$orange: rgb(239,130,96);

$theme-colors: (
  "W": $green,
  "S": $red,
  "C": $blue,
  "N": $yellow,
  "E": $orange,
);